<!DOCTYPE html>
<html>
  <head>
    <title>Help | Backfood</title>

	<% include includes/styles-and-scripts.html %>    
  </head>
  <body>
  	<% include includes/header.html %>
  	
  	<div class="container">
  		<%-help%>
  	</div>
  	
	<script src="/javascripts/analytics.js" type="text/javascript"></script>
  </body>
</html>