<!DOCTYPE html>
<html>
  <head>
    <title>Get started | Backfood</title>
	<% include includes/styles-and-scripts.html %>    
  </head>
  <body>
  	<% include includes/header.html %>
  	
  	<div class="container">
	  	<div id="main" class="jumbotron">
		    <h1>Backfood</h1>
		    <p>Feedback tool and attendance tracker</p>
		    
		    <a href="/register" class="btn btn-large">Get started now!</a>
		    
		    <p><a href="/help/overview">What is Backfood?</a></p>
		</div>
		
		<div class="cookie-message"><small>This site uses cookies to control user sessions and log analytics. By continuing to use the site you agree to this.</small></div>
	</div>
	<script src="/javascripts/analytics.js" type="text/javascript"></script>
  </body>
</html>